---
---
<div>
    The algorithms described in this solution are using a deprecated PHP library called "mcrypt". This library uses
    CFB8 instead of nCFB (as pretty much all modern tools use). Because of this distinction, you cannot actually solve
    these ciphers using modern libraries or tools like CyberChef. You need to find a library or tool that supports cfb8.
    There is one website in particular that does support it, which you can find&nbsp;<a href="https://codebeautify.org/encrypt-decrypt" target="_blank" rel="noopener noreferrer">here</a>.
</div>